<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Teacher Profile page</title>
  
  
  
      <link rel="stylesheet" href="css5/style.css">
<link rel="stylesheet" href="style.css">
<style>
body {
  font-family: "Lato", sans-serif;
}   

.sidenav {
  text-align: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:80px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  top:140px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
top: 140px;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
table, th, td {
  border: 1px ;
}
.profile {
  
  top:140px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.active{
background-color: black;}
</style>

  
</head>

<body>
<!-- ##### Header Area Start ##### -->
    <header class="header-area">

      

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><h1>Datacode E-Learning</h1></a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="e-learninghome.html">Home</a></li>
                               
                                 
                                <li><a href="courses.html">Courses</a></li>
                               
                                <li><a href="contact.html">Contact</a></li>
                            </ul>

                          

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<img src="avatar.png" alt="Avatar" class="profile">
  <a href  class="active">Profile</a>

  <a href="#">Batch Schedule</a>

  <a href="#"> Notes</a>  


</div>

<div id="main">
 

  <span style="font-size:30px;cursor:pointer;top:1400px;" onclick="openNav()">&#9776;</span>



  <html lang="en" ng-app="BipApp">

<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
 <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,700|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1" />

</head>

<body onload="initialize()">
  <div ng-controller="BipCtrl" class="sample" layout="column">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <h3>
        <span>Setting profile</span>
      </h3>
      </div>
    </md-toolbar>
    <md-content class="md-padding">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="PROFILE">
          <md-content>
            <div ng-controller="BipCtrl" layout="column" class="inputBasicUsage" ng-app="BipApp">

              <md-content layout-padding="">
                <form name="userForm">

                  <div layout="" layout-sm="column">
                    <md-input-container flex="">
                      <label>First name</label>
                      <input ng-model="user.firstName">
                    </md-input-container>
                    <md-input-container flex="">
                      <label>Last Name</label>
                      <input ng-model="user.lastName">
                    </md-input-container>
                  </div>


                  <div layout="" layout-sm="column">
                    <md-input-container flex=''>
                      <label>Email</label>
                      <input ng-model="user.email" type="email">
                    </md-input-container>
                    <md-input-container flex=''>
                      <label>Phone</label>
                      <input ng-model="user.phone" type="phone">
                    </md-input-container>
                  </div>

                  <md-input-container flex="">
                    <label>Address</label>
                    <input ng-model="user.address">
                  </md-input-container>
                  <md-input-container md-no-float="">
                    <input ng-model="user.address2" placeholder="Address 2">
                  </md-input-container>

                  <div layout="" layout-sm="column" id="locationField">
                    <md-input-container flex="">
                      <label>City</label>
                      <input ng-model="user.city" id="autocomplete" onFocus="geolocate()" type="text">
                    </md-input-container>
                    <md-input-container flex="">
                      <label>State</label>
                      <input ng-model="user.state">
                    </md-input-container>
                    <md-input-container flex="">
                      <label>Postal Code</label>
                      <input ng-model="user.postalCode">
                    </md-input-container>
                  </div>

                  <md-input-container flex="">
                    <label>Country</label>
                    <input ng-model="user.country">
                  </md-input-container>


                  <md-input-container flex="">
                    <label>Bio</label>
                    <textarea ng-model="user.bio" columns="1" md-maxlength="200"></textarea>
                  </md-input-container>
                  <section layout="row" layout-sm="column" layout-align="end">
                    <md-button class="md-raised md-primary">Update setting</md-button>
                  </section>
                </form>
              </md-content>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="SECURITY">
          <div ng-controller="ListCtrl" layout="column" layout-sm="column">

            <md-content class="md-padding">
              <form name="passwordForm">
                <md-input-container flex="">
                  <label>Current password</label>
                  <input ng-model="user.pass">
                </md-input-container>
                <md-input-container flex="">
                  <label>New password</label>
                  <input ng-model="user.newpass">
                </md-input-container>
                <md-input-container flex="">
                  <label>Confirm password </label>
                  <input ng-model="user.checkpass">
                </md-input-container>


               
                   
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

  
  

    <script  src="js5/index.js"></script>


    <!-- ##### All Javascript Script ##### -->
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
   




</body>

</html>
